<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <section id="#features">
    <div class="row">
      <div class="col-lg-6 home-text">
        <div class="text">
          <h3 class="heading-text">The Pool</h3>
          <p class="text-main">
            The pool will be an attractive and accessible facility, which will
            help welcome visitors to the hotel while enhancing the hotels's
            aquatics offerings for residents of all ages and abilities. The pool
            is designed with an eye for safety and accessibility. Each of the
            pools will have shallow entries and “pool pods” to help people with
            mobility devices enter, while the main leisure pool will feature a
            gradual entry from zero depth. The facility will also have improved
            lines of sight for lifeguards to improve safety for patrons.
            Meanwhile, the change rooms are designed to open onto the shallowest
            ends of the pools to decrease the likelihood of falls into deep
            water.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="/assests/images/pool.jpg" class="img-fluid" alt="Pool Area" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img
          src="/assests/images/snooker.jpg"
          class="img-fluid"
          alt="Pool Area"
        />
      </div>
      <div class="col-lg-6 home-text">
        <div class="text">
          <h3 class="heading-text">The Snooker Alley</h3>
          <p class="text-main">
            A billiard table, but also a collector's item, the Élégance is a
            connoisseur's delight. The Élégance is framed piece by piece. The
            magnificently turned and fluted legs will make a substancial impact
            on any room. When a craftsman from CANADA BILLIARD takes the solid
            wood and gives it the respect necessary to mould it to a table
            worthy of the name, Élégance is born.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 home-text">
        <div class="text">
          <h3 class="heading-text">The Bar</h3>
          <p class="text-main">
            An original and brilliant restaurant bar design concept. Our
            restaurant has a consistently full dining space and can use the bar
            area as a waiting room for customers. Customers who have to wait
            outside or in a lobby for long periods of time may just walk into
            the bar for a drink. Having a bar area with comfortable seating will
            allow our customers to order drinks as they wait to be seated at
            their tables. Our bar menu typically offers expensive and a
            delicious course of food to patrons. With a well thought out design
            and layout along with a thriving lunch/dinner business, our bar
            offers one of the best experiences you can get.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="/assests/images/bar.jpg" class="img-fluid" alt="Pool Area" />
      </div>
    </div>
  </section>
</body>
