<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <main>
      <%- include('./partials/nav.ejs')%>
      <section class="#fiction">
        <div class="row home-row">
          <div class="col-lg-6">
            <img
              src="/assests/images/luxurious.jpg"
              class="img-fluid"
              alt="Dining image"
            />
          </div>
          <div class="col-lg-6 home-text">
            <div class="heading">
              <h3><strong class="heading-main">Why choose us?</strong></h3>
            </div>
            <ul class="why-us">
              <div class="list-1">
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>The convenient location in the
                  city center.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span> The attractions within
                  walking distance.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Comfortable accommodation.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>The high quality service.
                </li>
              </div>
              <div class="list-2">
                <li class="why-us--li">
                  <span class="symbol">&gt;</span> Special offers for corporate
                  clients.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>English speaking staff.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Restaurants and cafés.
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Shopping.
                </li>
              </div>
            </ul>
          </div>
        </div>
        <div class="row home-row">
          <div class="col-lg-6 home-text">
            <div class="heading">
              <h3>
                <strong class="heading-main"
                  >Our delicacies are all over the place!</strong
                >
              </h3>
            </div>
            <ul class="why-us">
              <div class="list-1">
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Kaiseki Jubako, n/naka
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span> Lobster Bao, Essex Pearl
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Gluten Free Chocolate Cake,
                  Jinju Patisserie
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Grilled Dorade, Vernick Fish
                </li>
              </div>
              <div class="list-2">
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Pheasant, Wherewithall
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>The Original Butcher’s Feast,
                  Cote
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Lingonberry Almond Cake, Lost
                  Larson
                </li>
                <li class="why-us--li">
                  <span class="symbol">&gt;</span>Blue Crab Meatballs and
                  Spaghetti, Maialino Mare
                </li>
              </div>
            </ul>
          </div>
          <div class="col-lg-6">
            <img
              src="assests/images/img-1.jpg"
              class="img-fluid"
              alt="Dining image"
            />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
